<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Doccure</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <!-- Favicons -->
    <link th:href="@{/img/favicon.png}" rel="icon">
    <link rel="stylesheet" th:href="@{/css/notiflix-1.3.0.min.css}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" th:href="@{/plugins/fontawesome/css/fontawesome.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/fontawesome/css/all.min.css}">

    <!-- Select2 CSS -->
    <link rel="stylesheet" th:href="@{/plugins/select2/css/select2.min.css}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/plugins/bootstrap-tagsinput/css/bootstrap-tagsinput.css}">

    <link rel="stylesheet" th:href="@{/plugins/dropzone/dropzone.min.css}">

    <!-- Main CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <script th:src="@{/js/html5shiv.min.js}"></script>
    <script th:src="@{/js/respond.min.js}"></script>
    <style>
        .hChart {
            width: 910px;
            height: 500px;
            background-color: #f0ffff;
        }
        .apChart{
            width: 455px;
            height: 350px;
            background-color: #f0ffff;
        }
    </style>

</head>
<body>

<!-- Main Wrapper -->
<div class="main-wrapper">

    <!-- Header -->
    <header class="header">
        <nav class="navbar navbar-expand-lg header-nav">
            <div class="navbar-header">
                <a id="mobile_btn" href="javascript:void(0);">
							<span class="bar-icon">
								<span></span>
								<span></span>
								<span></span>
							</span>
                </a>
                <a th:href="@{/index}" class="navbar-brand logo">
                    <img th:src="@{/img/logo.png}" class="img-fluid" alt="Logo">
                </a>
            </div>
            <div class="main-menu-wrapper">
                <div class="menu-header">
                    <a th:href="@{/index}" class="menu-logo">
                        <img th:src="@{/img/logo.png}" class="img-fluid" alt="Logo">
                    </a>
                    <a id="menu_close" class="menu-close" href="javascript:void(0);">
                        <i class="fas fa-times"></i>
                    </a>
                </div>
                <ul class="main-nav">
                    <li>
                        <a th:href="@{/index}">Home</a>
                    </li>
                    <li>
                        <a th:href="@{/doctors}">OurDoctors</a>
                    </li>
                    <li class="has-submenu active">
                        <a href="">Doctors <i class="fas fa-chevron-down"></i></a>
                        <ul class="submenu">
                            <li><a th:href="@{/doctor-dashboard}">Doctor Dashboard</a></li>
                            <li><a th:href="@{/appointments}">Appointments</a></li>
                            <li><a th:href="@{/doctor-visit}">MyVisit</a></li>
                            <li><a th:href="@{/my-patients}">Patients List</a></li>
                            <li><a th:href="@{/chat-doctor}">Chat</a></li>
                            <li><a th:href="@{/doctor-profile-settings}">Profile Settings</a></li>
                            <li class="active"><a th:href="@{/health-analysis}">Health Analysis</a></li>
                            <li><a th:href="@{/doctor-register}">Doctor Register</a></li>
                        </ul>
                    </li>
                    <li class="has-submenu">
                        <a href="">Patients <i class="fas fa-chevron-down"></i></a>
                        <ul class="submenu">
                            <li><a th:href="@{/booking-success}">Booking Success</a></li>
                            <li><a th:href="@{/patient-dashboard}">Patient Dashboard</a></li>
                            <li><a th:href="@{/myHealthRecord}">Health Record</a></li>
                            <li><a th:href="@{/myAssess}">Health Assessment</a></li>
                            <li><a th:href="@{/chat}">Chat</a></li>
                            <li><a th:href="@{/profile-settings}">Profile Settings</a></li>
                            <li><a th:href="@{/change-password}">Change Password</a></li>
                        </ul>
                    </li>
                    <li>
                        <a th:href="@{/admin/login}" target="_blank">Admin</a>
                    </li>
                    <li class="login-link">
                        <a th:href="@{/login}">Login / Signup</a>
                    </li>
                </ul>
            </div>
            <ul class="nav header-navbar-rht">
                <li class="nav-item contact-item">
                    <div class="header-contact-img">
                        <i class="far fa-hospital"></i>
                    </div>
                    <div class="header-contact-detail">
                        <p class="contact-header">Contact</p>
                        <p class="contact-info-header"> +1 315 369 5943</p>
                    </div>
                </li>

                <!-- User Menu -->
                <li class="nav-item dropdown has-arrow logged-item">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
								<span class="user-img">
									<img class="rounded-circle" th:src="${doctorInfo.image_url}" width="31" alt="Darren Elder">
								</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <div class="user-header">
                            <div class="avatar avatar-sm">
                                <img th:src="${doctorInfo.image_url}" alt="User Image" class="avatar-img rounded-circle">
                            </div>
                            <div class="user-text">
                                <h6 th:text="${user.username}"></h6>
                                <p class="text-muted mb-0" th:text="${user.getRoleName()}"></p>
                            </div>
                        </div>
                        <a class="dropdown-item" th:href="@{/doctor-dashboard}">Dashboard</a>
                        <a class="dropdown-item" th:href="@{/doctor-profile-settings}">Profile Settings</a>
                        <a class="dropdown-item" th:href="@{/logout}">Logout</a>
                    </div>
                </li>
                <!-- /User Menu -->
            </ul>
        </nav>
    </header>
    <!-- /Header -->

    <!-- Breadcrumb -->
    <div class="breadcrumb-bar">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-12 col-12">
                    <nav aria-label="breadcrumb" class="page-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a th:href="@{/index}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Health Analysis</li>
                        </ol>
                    </nav>
                    <h2 class="breadcrumb-title">Health Analysis</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- /Breadcrumb -->

    <!-- Page Content -->
    <div class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">

                    <!-- Profile Sidebar -->
                    <div class="profile-sidebar">
                        <div class="widget-profile pro-widget-content">
                            <div class="profile-info-widget">
                                <a href="#" class="booking-doc-img">
                                    <img th:src="${doctorInfo.image_url}" alt="User Image">
                                </a>
                                <div class="profile-det-info">
                                    <h3 th:text="${user.username}"></h3>
                                    <div class="patient-details">
                                        <h5 class="mb-0" th:text="${edu}"></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dashboard-widget">
                            <nav class="dashboard-menu">
                                <ul>
                                    <li>
                                        <a th:href="@{/doctor-dashboard}">
                                            <i class="fas fa-columns"></i>
                                            <span>Dashboard</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a th:href="@{/appointments}">
                                            <i class="fas fa-calendar-check"></i>
                                            <span>Appointments</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a th:href="@{/my-patients}">
                                            <i class="fas fa-user-injured"></i>
                                            <span>My Patients</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a th:href="@{/doctor-visit}">
                                            <i class="fas fa-hourglass-start"></i>
                                            <span>MyVisit</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a th:href="@{/chat-doctor}">
                                            <i class="fas fa-comments"></i>
                                            <span>Message</span>
                                            <small class="unread-msg" th:text="${message}"></small>
                                        </a>
                                    </li>
                                    <li>
                                        <a th:href="@{/doctor-profile-settings}">
                                            <i class="fas fa-user-cog"></i>
                                            <span>Profile Settings</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a th:href="@{/health-analysis}">
                                            <i class="fas fa-user-cog"></i>
                                            <span>Health Analysis</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a th:href="@{/doctor-change-password}">
                                            <i class="fas fa-lock"></i>
                                            <span>Change Password</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a th:href="@{/logout}">
                                            <i class="fas fa-sign-out-alt"></i>
                                            <span>Logout</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!-- /Profile Sidebar -->

                </div>
                <div class="col-md-7 col-lg-8 col-xl-9">
                    <div class="card">
                        <div class="card-body pt-0">
                            <!-- Tab Menu -->
                            <nav class="user-tabs mb-4">
                                <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="#history" data-toggle="tab">History Data</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#monitor" data-toggle="tab"><span class="med-records">Data Monitor</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#APStatistics" data-toggle="tab"><span class="med-records">Other Statistics</span></a>
                                    </li>
                                </ul>
                            </nav>
                            <!-- /Tab Menu -->

                            <!-- Tab Content -->
                            <div class="tab-content pt-0">
                                <!-- Appointment Tab -->
                                <div id="history" class="tab-pane fade show active">
                                    <div class="card card-table mb-0">
                                        <div class="row form-row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <br>
                                                    <label>Patient</label>
                                                    <select class="form-control select" id="patient_emailH" onchange="changePatientEmailH(this.options[this.options.selectedIndex].value)">
                                                        <option>请选择病人</option>
                                                        <option th:each="item:${myPatients}"
                                                                th:text="${item.getValue()}"
                                                                th:value="${item.getKey()}">
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <br>
                                                    <label>Option</label>
                                                    <select class="form-control select" id="HDataType" onchange="changeDataTypeH(this.options[this.options.selectedIndex].text)">
                                                        <option>请选择数据项</option>
                                                        <option th:each="item:${dataType}"
                                                                th:text="${item}"
                                                                th:value="${item}">
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Begin Time</label>
                                                    <input type="datetime-local" class="form-control" id="beginTime" onchange="changeBeginTime(this.value)">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>End Time</label>
                                                    <input type="datetime-local" class="form-control" id="endTime" onchange="changeEndTime(this.value)">
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="card-body" id="cardBodyH">
                                            <div class="hChart" id="historyChart"></div>
                                            <div class="submit-section text-center">
                                                <button type="submit" class="btn btn-primary submit-btn" id="embody">Embody</button>
                                                <button type="submit" class="btn btn-primary submit-btn" id="vague">Vague</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Appointment Tab -->
                                <!-- monitor Tab -->
                                <div id="monitor" class="tab-pane fade">
                                    <div class="card card-table mb-0">
                                        <div class="row form-row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <br>
                                                    <label>Patient</label>
                                                    <select class="form-control select" id="patient_emailM" onchange="changePatientEmailM(this.options[this.options.selectedIndex].value)">
                                                        <option>请选择病人</option>
                                                        <option th:each="item:${myPatients}"
                                                                th:text="${item.getValue()}"
                                                                th:value="${item.getKey()}">
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <br>
                                                    <label>Option</label>
                                                    <select class="form-control select" id="MDataType" onchange="changeDataTypeM(this.options[this.options.selectedIndex].value)">
                                                        <option>请选择数据项</option>
                                                        <option th:each="item:${dataType}"
                                                                th:text="${item}"
                                                                th:value="${item}">
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body" id="cardBodyM">
                                            <div class="hChart" id="monitorChart"></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /monitor Tab -->
                                <div id="APStatistics" class="tab-pane fade">
                                    <div class="card card-table mb-0">
                                        <div class="row form-row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <div class="card-body" id="cardBodyA">
                                                        <div id="appointTypeNumChart" class="apChart"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group" id="cardBodyS">
                                                    <div class="card-body">
                                                        <div id="specialtyChart" class="apChart"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Tab Content -->
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!-- /Page Content -->

    <!-- Footer -->
    <footer class="footer">

        <!-- Footer Top -->
        <div class="footer-top">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-md-6">

                        <!-- Footer Widget -->
                        <div class="footer-widget footer-menu">
                            <h2 class="footer-title">For Patients</h2>
                            <ul>
                                <li><a th:href="@{login}"><i class="fas fa-angle-double-right"></i> Login</a></li>
                                <li><a th:href="@{register}"><i class="fas fa-angle-double-right"></i> Register</a></li>
                                <li><a th:href="@{patient-dashboard}"><i class="fas fa-angle-double-right"></i> Patient Dashboard</a></li>
                            </ul>
                        </div>
                        <!-- /Footer Widget -->

                    </div>

                    <div class="col-lg-3 col-md-6">

                        <!-- Footer Widget -->
                        <div class="footer-widget footer-menu">
                            <h2 class="footer-title">For Doctors</h2>
                            <ul>
                                <li><a th:href="@{appointments}"><i class="fas fa-angle-double-right"></i> Appointments</a></li>
                                <li><a th:href="@{chat}"><i class="fas fa-angle-double-right"></i> Chat</a></li>
                                <li><a th:href="@{login}"><i class="fas fa-angle-double-right"></i> Login</a></li>
                                <li><a th:href="@{doctor-register}"><i class="fas fa-angle-double-right"></i> Register</a></li>
                                <li><a th:href="@{doctor-dashboard}"><i class="fas fa-angle-double-right"></i> Doctor Dashboard</a></li>
                            </ul>
                        </div>
                        <!-- /Footer Widget -->

                    </div>

                    <div class="col-lg-3 col-md-6">

                        <!-- Footer Widget -->
                        <div class="footer-widget footer-contact">
                            <h2 class="footer-title">Contact Us</h2>
                            <div class="footer-contact-info">
                                <div class="footer-address">
                                    <span><i class="fas fa-map-marker-alt"></i></span>
                                    <p> 3556  Beech Street, San Francisco,<br> California, CA 94108 </p>
                                </div>
                                <p>
                                    <i class="fas fa-phone-alt"></i>
                                    +1 315 369 5943
                                </p>
                                <p class="mb-0">
                                    <i class="fas fa-envelope"></i>
                                    doccure@example.com
                                </p>
                            </div>
                        </div>
                        <!-- /Footer Widget -->

                    </div>

                </div>
            </div>
        </div>
        <!-- /Footer Top -->

        <!-- Footer Bottom -->
        <div class="footer-bottom">
            <div class="container-fluid">

                <!-- Copyright -->
                <div class="copyright">
                    <div class="row">
                        <div class="col-md-6 col-lg-6">
                            <div class="copyright-text">
                                <p class="mb-0">&copy; 2019 Doccure. All rights <a href="http://www.bootstrapmb.com/" title="bootstrapmb">Reserved</a>.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Copyright -->

            </div>
        </div>
        <!-- /Footer Bottom -->

    </footer>
    <!-- /Footer -->

</div>
<!-- /Main Wrapper -->

<script th:src="@{/js/notiflix-1.3.0.min.js}"></script>
<script th:src="@{/js/jquery-1.11.0.min.js}"></script>

<script th:src="@{/js/services/doctor-setting.js}"></script>

<!-- Datetimepicker JS -->
<script th:src="@{/js/moment.min.js}"></script>
<script th:src="@{/js/bootstrap-datetimepicker.min.js}"></script>

<!-- jQuery -->
<script th:src="@{/js/jquery.min.js}"></script>

<!-- Bootstrap Core JS -->
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>

<!-- Sticky Sidebar JS -->
<script th:src="@{/plugins/theia-sticky-sidebar/ResizeSensor.js}"></script>
<script th:src="@{/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js}"></script>

<!-- Select2 JS -->
<script th:src="@{/plugins/select2/js/select2.min.js}"></script>

<!-- Dropzone JS -->
<script th:src="@{/plugins/dropzone/dropzone.min.js}"></script>

<!-- Bootstrap Tagsinput JS -->
<script th:src="@{/plugins/bootstrap-tagsinput/js/bootstrap-tagsinput.js}"></script>

<!-- Profile Settings JS -->
<script th:src="@{/js/services/health-analysis.js}"></script>

<!-- Custom JS -->
<script th:src="@{/js/script.js}"></script>
<script th:src="@{/js/services/websocket.js}"></script>
<script th:src="@{/js/echarts.min.js}"></script>
<script th:inline="javascript">

    Notiflix.Notify.Init();
    let websocket = null;
    websocket = connectWebSocket(websocket);
    let patient_emailH = "";
    let patient_emailM = "";
    let healthDataTypeH = "";
    let healthDataTypeM = "";
    let beginTime = "";
    let endTime = "";
    let internal = 5;
    let historyChart = echarts.init(document.querySelector("#historyChart"));
    let monitorChart = echarts.init(document.querySelector("#monitorChart"));

    let specialtyChart = echarts.init(document.querySelector("#specialtyChart"));
    let appointTypeNumChart = echarts.init(document.querySelector("#appointTypeNumChart"));

    historyChart.setOption(getSingleOptionChart());
    monitorChart.setOption(getSingleOptionChart());
    let yDataM = [];
    let xDataM = [];


    let appointTypeNum = [[${appointTypeNum}]];
    let specialties = [[${specialties}]];
    let specialtyNum = [[${specialtyNum}]];

    for (let i = 0;i < appointTypeNum.length;i++){
        appointTypeNum[i] = JSON.parse(appointTypeNum[i]);
    }
    appointTypeNumChart.setOption(getAppointPieChart(appointTypeNum));


    specialtyChart.setOption(getBarSpeciality(specialties,specialtyNum));



    window.onbeforeunload = function () {
       $.ajax({
           url:"/healthData/cancel",
           type:"post",
           dataType:"json",
           success:function (data){
               console.log(data.message);
           }
       });
    }
    // window.onresize = function () {
    //     chartReSize();
    // }

    // function chartReSize(){
    //     let cardBodyH = $("#cardBodyH");
    //     let cardBodyM = $("#cardBodyM");
    //     let cardBodyA = $("#cardBodyA");
    //     let cardBodyS = $("#cardBodyS");
    //     let _historyChart = $("#historyChart");
    //     let _monitorChart = $("#monitorChart");
    //     let _appointTypeNumChart = $("#appointTypeNumChart");
    //     let _specialtyChart = $("#specialtyChart");
    //     let width = cardBodyH.width();
    //     historyChart.resize({width:width, height:500});
    //     historyChart.resize();
    //     _historyChart.height(500).width(width);
    //
    //     width = cardBodyM.width();
    //     monitorChart.resize({width:width, height:500});
    //     monitorChart.resize();
    //     _monitorChart.height(500).width(width);
    //
    //     width = cardBodyA.width();
    //     appointTypeNumChart.resize({width:width, height:350});
    //     appointTypeNumChart.resize();
    //     _appointTypeNumChart.height(350).width(width);
    //
    //     width = cardBodyS.width();
    //     specialtyChart.resize({width:width, height:350});
    //     specialtyChart.resize();
    //     _specialtyChart.height(350).width(width);
    // }
</script>

</body>
</html>